<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Resources</title>
    <style>
    body {
      background-color: #121212;
      color: #E0E0E0;
      font-family: sans-serif;
      margin: 0;
      padding: 1rem;
    }

    h2 {
      color: #90CAF9;
    }

    table {
      border-collapse: collapse;
      width: 100%;
      background-color: #1E1E1E;
      border: 1px solid #2A2A2A;
      margin-top: 1rem;
    }

    th, td {
      border: 1px solid #2A2A2A;
      padding: 8px;
      text-align: left;
    }

    th {
      background: #2A2A2A;
      color: #E0E0E0;
    }

    tr:nth-child(even) {
      background-color: #181818;
    }

    tr:hover {
      background-color: #2C2C2C;
    }
  </style>
</head>
<body>
  <h2 id="updateTime">Last Update: {{.LastUpdate}}</h2>
  <h2 id="progress">Progress: {{.Progress}}%</h2>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Required</th>
        <th>Provided</th>
        <th>Left</th>
        <th>Payment</th>
      </tr>
    </thead>
    <tbody>
      {{range .Resources}}
        <tr>
          <td>{{.Name}} <a href=https://inara.cz/elite/commodities/?formbrief=1&pi1=1&pa1[]=${.ID}&ps1=&pi10=3&pi11=0&pi3=1&pi9=0&pi4=0&pi14=0&pi5=720&pi12=0&pi7=0&pi8=0&pi13=0 target="_"><img src="/static/link.svg" width="20px"></a></td>
          <td>{{.Required}}</td>
          <td>{{.Provided}}</td>
          <td>{{.Diff}}</td>
          <td>{{.Payment}}</td>
        </tr>
      {{else}}
        <tr><td colspan="7">No resources found.</td></tr>
      {{end}}
    </tbody>
  </table>

  <script>
    const evtSource = new EventSource("/events");
    evtSource.onmessage = function(event) {
      const payload = JSON.parse(event.data)
      const resources = payload.resources;
      const progress = payload.progress;
      const lastUpdate = payload.lastUpdated;

      const tbody = document.querySelector("tbody");
      const time = document.querySelector("#updateTime");
      const prog = document.querySelector("#progress");
      
      tbody.innerHTML = "";

      if (!resources || resources.length === 0) {
        tbody.innerHTML = '<tr><td colspan="7">No resources found.</td></tr>';
        prog.textContent = "";
        time.textContent = "";
        return;
      }

      resources.forEach(r => {
        const row = document.createElement("tr");
        row.innerHTML = `
          <td>${r.Name} <a href=https://inara.cz/elite/commodities/?formbrief=1&pi1=1&pa1[]=${r.ID}&ps1=&pi10=3&pi11=0&pi3=1&pi9=0&pi4=0&pi14=0&pi5=720&pi12=0&pi7=0&pi8=0&pi13=0 target="_"><img src="/static/link.svg" width="20px"></a></td>
          <td>${r.Required}</td>
          <td>${r.Provided}</td>
          <td>${r.Diff}</td>
          <td>${r.Payment}</td>
        `;
        tbody.appendChild(row);

        time.textContent = `Last Update: ${lastUpdate}`;

        prog.textContent = `Progress: ${progress}%`;
      });
    };
  </script>
</body>
</html>
